#client {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 65rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.clientTitle {
  margin: 1rem 0;

  font-size: 3rem;
}
.clientDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 65rem;
}
.clientImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 65rem;
  margin: 1rem 0;
  padding: 2rem 0;
}
.clientimg {
  object-fit: cover;
  width: 23%;
  min-width: 9rem;
  margin: auto;
  padding: 0.25rem;
}
.skillsImg {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  margin: auto;
  padding: 0.25rem;
}
